.offer-list-section {
  & .card-header {
    padding-top: 0;
    & span.icon {
      cursor: pointer;
      padding: 15px;
      margin-top: 11px;
      background-color: grey;
      color: black !important;
      transition: all 0.2s ease-in;
      -moz-ransition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      &:hover {
        background-color: rgb(114, 127, 221);
        color: white;
      }
    }
  }
}
