.flatuploader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 1rem 1rem;
  border: 2px dashed #5993bf;
  direction: rtl;
  .percentage-number {
    font-size: 17px;
    width: 45px;
    font-weight: bold;
  }
  .cloud-icon {
    cursor: pointer;
  }
  .success-icon {
    display: none;
  }
  .file-name-section {
    direction: ltr;
    text-align: left;
    padding: 0 5px;
    max-width: 165px;
    overflow: hidden;
    font-size: 13px;
  }

  .file-select-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .placeholder {
      font-size: 0.8rem;
    }
  }
}
.success-upload {
  .success-icon {
    display: block !important;
  }
  .cloud-icon {
    display: none !important;
  }
}
@media (max-width: 320px) {
  .flatuploader {
    padding: 1rem 1rem;
  }
}
@media (max-width: 410px) {
  .flatuploader {
    .file-name-section {
      display: none;
    }
  }
}
