.row {
  margin: 0;
  padding: 0;
  .SuccessImg {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .moreRequest {
    position: absolute;
    bottom: 2em;
    bottom: 2em;
    width: 100%;
    button {
      display: block;
      border-radius: 0;
      padding: 10px 15px;
      border: none;
      margin: auto;
      position: relative;
    }
  }
}
