footer {
  background-size: contain;
  width: 100%;
  direction: rtl;
  display: flex;
  background-color: #6d8ae0;
  justify-content: space-between;
  flex-direction: column;
  .contact-info-box {
    width: 100%;
  }
  .footer-links {
    display: flex;
    height: auto;
    padding-top: 2em;
    padding-bottom: 5em;
    h6 {
      font-weight: bold;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px !important;
  }
  .column {
    flex-grow: 1;
    padding-right: 30px;
    a {
      padding-right: 10px;
      color: white !important;
    }
    text-align: right;
    h6 {
      font-size: 14px;
      color: white;
    }
  }
  .copyright {
    padding: 25px 25px;
    a {
      color: white;
    }
    margin-bottom: 0;
    color: lightgrey;
    font-size: 13px;
  }
}

//Responsive

@media (max-width: 768px) {
  footer {
    .footer-links {
      display: none;
    }
  }
}
@media (max-width: 576px) {
  footer {
    .copyright {
      padding: 5px 15px;
      .followus-text {
        display: none;
      }
    }
  }
}
