.facilities-description {
  padding: 7% 11%;
  .header {
    color: #555;
    padding: 30px 0 24px;
    text-align: center;
    font-size: 36px;
  }
  & > p {
    color: #686868;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px auto 65px;
    text-align: center;
    width: 75%;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    max-width: 32%;
    overflow: hidden;
    height: 370px;
    margin: auto 11px;
    span {
      color: #7ac290;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: auto;
    }
    p {
      color: #8d8d8d;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0;
      height: auto;
      width: auto;
      margin: 20px auto 65px;
    }
    .image-circle {
      width: 180px;
      margin: auto;
      padding: 24px;
      border-radius: 50%;
      background-color: #edfff2;
      line-height: 8;
      img {
        width: 105px;
      }
    }
  }
}
.contact-info {
  background: url("../images/footer-cover.jpg") no-repeat;
  direction: rtl;
  color: white;
  height: 356px;
  .contact-button-box {
    button {
      background-color: transparent;
      border: 1px solid white;
      padding: 10px;
      width: 200px;
      margin: 40px 20px;
      font-weight: bold;
    }
    button:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

//responsive
//Small devices (portrait phone )
@media (max-width: 576px) {
  .facilities-description {
    padding: 20% 0 0 0 !important;
    ul {
      li {
        margin: 0;
        max-width: auto;
      }
    }
  }
  .contact-info {
    display: none;
  }
  .crooked-divider {
    display: none;
  }
  .products-box {
    margin-top: 45px !important;
    .products {
      flex-direction: column;
      align-items: center;
      .active {
        border: 2px solid #b8a4e6;
      }
      li {
        flex-direction: row-reverse;
        align-items: center;
        width: 75%;
        height: 50px;
        box-shadow: none;
        top: 0;
        border-radius: 0;
        border: 1px solid lightgrey;
        .product-icons {
          width: 40px;
        }
        &:first-child {
          border-radius: 5px 5px 0 0;
        }
        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
      li:hover {
        top: 0;
        width: 80%;
      }
    }
  }
  .tab-content {
    .choose-a-product {
      margin-top: 100px !important;
      text-align: center !important;
    }
  }
}

//tablets and up
@media (min-width: 768px) {
  .facilities-description {
    padding: 7% 2%;
    li {
      max-width: fit-content;
    }
  }
}

//Large devices , landscape tablets , desktops
@media (min-width: 992px) {
  .facilities-description {
    padding: 7% 0;
    li {
      max-width: 280px;
    }
  }
}

//large desktops and up
@media (max-width: 1200px) {
  .facilities-description {
    padding: 7% 10%;
    li {
      max-width: 280px;
    }
  }
}
@media (min-width: 1200.01px) {
  .facilities-description {
    padding: 7% 10%;
    li {
      max-width: 280px;
    }
  }
}
//Extra large desktops, 4k Monitors, TVs
@media (min-width: 1440px) {
}
