.nav-main-container {
  padding: "7px 17px";
  height: "65px" !important;
  box-shadow: "0px -2px 19px grey";
}
.nav-links-container-col {
  line-height: "2.3";
}
.nav-links-container {
  float: right;
}
.nav-logo-container-col {
  text-align: "left";
  line-height: "1.6";
}
.logo-text {
  color: "#5A4F72";
  font-size: "2em";
  vertical-align: "middle";
}
