.nav-main-container {
  padding: 23px 39px;
  height: 80px;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: auto;
  transition: width 0.3s, height 0.3s, background-color 0.3s, padding 0.4s;
  a {
    color: white;
    margin-left: 20px;
  }
  a:hover {
    text-decoration: underline;
  }
}
.nav-links-container-col {
  line-height: 2.3;
  .logo-text-box {
    margin-left: 10px;
    display: inline-block;
    font-size: 10px;
    height: 66px;
    font-family: monospace;
    position: absolute;
    top: 11px;
  }
}
.nav-links-container {
  float: right;
}
.nav-logo-container-col {
  text-align: left;
  line-height: 1.4;
}
.logo-text {
  color: #5a4f72;
  vertical-align: middle;
  line-height: 1;
}
.scrolledNav {
  padding: 7px 17px;
  background-color: white;
  box-shadow: 0px -2px 19px grey;
  height: 65px;
  a {
    color: black !important;
  }
  .logo-text-box {
    font-size: 16px;
    top: 4px;
  }
  img {
    width: 50px;
  }
}
.logo-text-box {
  margin-left: 10px;
  display: inline-block;
  font-size: 18px;
  height: 66px;
  font-family: monospace;
  position: absolute;
  top: 8px;
}
